<div class="flex flex-col min-h-full">
  <section class="grid grid-cols-1 md:grid-cols-3 gap-6 items-center flex-1">
 <div class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 dark:bg-white dark:text-black dark:border-gray-100">
    <img class="w-full h-48 object-cover lazy" src="/img/About/imgi_2_6.jpg" alt="">
    <div class="p-4">
        <h3>Item 1</h3>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
 </div>
 <div class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 dark:bg-white dark:text-black dark:border-gray-100">
    <img class="w-full h-48 object-cover lazy" src="img/About/imgi_3_5.jpg" alt="">
    <div class="p-4">
        <h3>Item 1</h3>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
 </div>
 <div class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 dark:bg-white dark:text-black dark:border-gray-100">
    <img class="w-full h-48 object-cover lazy" src="/img/About/imgi_4_bg6.jpg" alt="">
    <div class="p-4">
        <h3>Item 1</h3>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
 </div>
 <div class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 dark:bg-white dark:text-black dark:border-gray-100">
    <img class="w-full h-48 object-cover lazy" src="/img/About/imgi_5_23.jpg" alt="">
    <div class="p-4">
        <h3>Item 1</h3>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
 </div>
 <div class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 dark:bg-white dark:text-black dark:border-gray-100">
    <img class="w-full h-48 object-cover lazy" src="/img/About/imgi_6_ales-nesetril-Im7lZjxeLhg-unsplash.jpg" alt="">
    <div class="p-4">
        <h3>Item 1</h3>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
 </div>
 <div class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 dark:bg-white dark:text-black dark:border-gray-100">
    <img class="w-full h-48 object-cover lazy" src="/img/About/imgi_7_bg2.jpg" alt="">
    <div class="p-4">
        <h3>Item 1</h3>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
 </div>
 <div class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 dark:bg-white dark:text-black dark:border-gray-100">
    <img class="w-full h-48 object-cover lazy" src="/img/About/imgi_8_full-screen-smartphone-mockup-design_53876-65968.webp" alt="">
    <div class="p-4">
        <h3>Item 1</h3>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
 </div>
 <div class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 dark:bg-white dark:text-black dark:border-gray-100">
    <img class="w-full h-48 object-cover lazy" src="/img/About/imgi_9_smartphone-mockup_1310-812.webp" alt="">
    <div class="p-4">
        <h3>Item 1</h3>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
 </div>
 <div class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 dark:bg-white dark:text-black dark:border-gray-100">
    <img class="w-full h-48 object-cover lazy" src="/img/About/imgi_10_phone-mockup-brown-background-vector_53876-164914.jpg" alt="">
    <div class="p-4">
        <h3>Item 1</h3>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
 </div>

  </section>
  <footer class="mt-auto">
  
  </footer>
</div>
